ACME_EMAIL=security@example.com
GOPHISH_ADMIN_DOMAIN=gophish-admin.arnnabilisim.com.tr
GOPHISH_LANDING_DOMAIN=phish.arnnabilisim.com.tr

# Cloudflare Full/Full(strict) no-Caddy mode
# Put Cloudflare Origin Certificate files under ./certs on server.
CLOUDFLARE_ORIGIN_CERT_PATH=./certs/cloudflare-origin.crt
CLOUDFLARE_ORIGIN_KEY_PATH=./certs/cloudflare-origin.key
