# Copy this file to .env and set real values before deployment.
ACME_EMAIL=security@example.com
GOPHISH_ADMIN_DOMAIN=gophish-admin.arnnabilisim.com.tr
GOPHISH_LANDING_DOMAIN=phish.arnnabilisim.com.tr
OPENVAS_DOMAIN=openvas.arnnabilisim.com.tr
WEBMAP_DOMAIN=webmap.arnnabilisim.com.tr
SN1PER_DOMAIN=sn1per.arnnabilisim.com.tr
