# Copy this file to .env and set real values before deployment.
ACME_EMAIL=security@example.com
GOPHISH_ADMIN_DOMAIN=gophish-admin.arnnabilisim.com.tr
GOPHISH_LANDING_DOMAIN=phish.arnnabilisim.com.tr
OPENVAS_DOMAIN=openvas.arnnabilisim.com.tr
