{
    email {$ACME_EMAIL}
    http_port 80
    https_port 443
}

{$GOPHISH_ADMIN_DOMAIN} {
    encode zstd gzip
    reverse_proxy gophish:3333 {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Port 443
    }
}

{$GOPHISH_LANDING_DOMAIN} {
    encode zstd gzip
    reverse_proxy gophish:80
}
